application :
  port: :8000
  secret: 172y87f1
  user_management_instance: user-management # which postgresql instance used for user management
  user_storage_instance: general # which postgresql instance used for storing your user
postgres : [
  {
    label: general,
    host: localhost,
    port: 5432,
    user: testuser,
    password: testpass,
    db_name: testdb,
    max_open_connections: 1,
    max_idle_connections: 2,
    connection_max_life_time: 2,
  },
  {
    label: user-management,
    host: localhost,
    port: 5433,
    user: infrast_um,
    password: infrastumpass,
    db_name: infrastdbum,
    max_open_connections: 1,
    max_idle_connections: 2,
    connection_max_life_time: 2,
  },
]
mongodb : [
  {
    label : "dummy1",
    uri : localhost/bla-bla-bla,
    max_pool : 10,
    min_pool : 5,
    max_idle_connections : 2,
    db_name : testdb,
  },
  {
    label : "dummy2",
    uri : localhost/bla-bla-bla,
    max_pool : 10,
    min_pool : 5,
    max_idle_connections : 2,
    db_name : testdb,
  },
]
smtp : 
  host : localhost
  password : testpass
  username : testuser
  port : 5432
  sender : sender
midtrans :
  server_key : midtrans-server-key
  iris_key : midtrans-iris-key
  environment : production
  enabled_payments : 
    - bca-klik
    - bri
    - gopay
whatsapp :
  sid : wa-sid
  auth_token : encrypted-auth-token
  sender : +628<...>
firebase : 
  service_account_key : your-encrypted-service-account-key
user_management :
  message_template : 
    new_registration_email_template_path : template/new-registration.html
    new_device_warning_email_template_path : template/new-device.html
    forgot_password_email_template_path : template/forgot-passwrod.html
    new_registration_message_template : your registration otp is %v please don't share to anybody
    new_device_warning_message_template : you logged on another device klick URL bellow to log out %v
    forgot_password_message_template : your reset password otp is %v please don't share to anybody
    login_cancelation_url : http://localhost:8000/cancel-login/%s #require 1 parameter to place device id
  users : [
    {
      type : ADMIN,
      user_table : admins,
      credential : [username, email],
      id_property : id,
      photo_profile_property : profile,
      password_property : password,
      username_property : username,
      email_property : email,
      phone_property : phone
    },
    {
      type : customer,
      user_table : customers,
      credential : [username, email, phone],
      id_property : id,
      photo_profile_property : profile,
      password_property : password,
      username_property : username,
      email_property : email,
      phone_property : phone
    },
  ]
  login : 
    table_name : login
    token_property : token
    failed_counter_property : failed_attempt
    type_property : user_type
    credential_property : credential
    login_at_property : login_at
    device_id_property : device_id
    attempt_at_property : attempt_at
    max_failed_attempt : 3
    login_block_duration : 300
  user_device : 
    table_name : user_devices
    id_property : id
    device_id_property : device_id
    user_id_property : user_id
    user_type_property : user_type
  registration : 
    table_name : registration
    id_property : id
    credential_property : credential
    token_property : token
    otp_property : otp
    registration_status_property : status
    device_id_property : device_id
    created_at_property : created_at
    user_type_property : user_type
    fcm_token_property : fcm_token
  reset_password : 
    table_name : reset_password
    id_property : id
    token_property : token
    otp_property : otp
    credential_property : credential
    created_at_property : created_at
    validity_duration : 900000
    user_type_property : user_type
  user_fcm_token :
    table_name : user_fcm
    id_property : id
    token_property : token
    timestamp_property : timestamp
    user_type_property : user_type
    user_id_property : user_id